set -x PATH /usr/local/opt/python@3.10/bin /usr/local/opt/python/libexec/bin /usr/local/bin /usr/bin /bin /usr/sbin /usr/local/sbin /sbin $HOME/.config/emacs/bin

{{ if eq .chezmoi.arch "arm64"}}
set -gx HOMEBREW_PREFIX "/opt/homebrew";
set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar";
set -gx HOMEBREW_REPOSITORY "/opt/homebrew";
set -q PATH; or set PATH ''; set -gx PATH "/opt/homebrew/bin" "/opt/homebrew/sbin" $PATH;
set -q MANPATH; or set MANPATH ''; set -gx MANPATH "/opt/homebrew/share/man" $MANPATH;
set -q INFOPATH; or set INFOPATH ''; set -gx INFOPATH "/opt/homebrew/share/info" $INFOPATH;
{{ end }}

set -x GOPATH /Users/ericklaus/go
set -x PATH $PATH "/Users/ericklaus/.cargo/bin"
set -x PATH $PATH "/Users/ericklaus/.pub-cache/bin"
set -x PATH $PATH $HOME/go/bin
set -x PATH $PATH "/Users/ericklaus/bin"
set -x PATH $PATH "/Applications/Sublime Text.app/Contents/SharedSupport/bin"

# set up for Fisher, Fish's package manager
set -x fisher_path "$HOME/.config/fisher"
set fish_function_path $fish_function_path[1] $fisher_path/functions $fish_function_path[2..-1]
set fish_complete_path $fish_complete_path[1] $fisher_path/completions $fish_complete_path[2..-1]
for file in $fisher_path/conf.d/*.fish
    source $file
end

# variables useful on most machines
set -x EDITOR emacsclient -nw 
set -x fish_git_dirty_color red

{{ if .work_device -}}
# variables needed at workiva
set -x PATH $PATH "/Users/ericklaus/.wk/bin"
set -x MAVEN_OPTS "-Xmx4096m -Xms1024m"
set -x ANT_OPTS "-Xms512m -Xmx1024m"

set -x GITHUB_USER "ericklaus-wf"
set -x GITHUB_TOKEN "{{ (onepasswordDetailsFields "dw5jh5ml75bwhdscurp7is7gkm").password.value }}"
set -x HOMEBREW_GITHUB_API_TOKEN "{{ (onepasswordDetailsFields "dw5jh5ml75bwhdscurp7is7gkm").password.value }}"

set -x DOCKER_CONFIG "/Users/ericklaus/.wk/config/docker"

replay source $HOME/.wk/profile

set -x SRC_ENDPOINT "https://sourcegraph.plat.workiva.net"
set -x SRC_ACCESS_TOKEN "{{ (onepasswordDetailsFields "cd4htarfzffaxho62tlidew4kq").password.value }}"

{{end }}

function gofmtall -d "Formats all Go files below this directory"
	fd -E vendor -e go | xargs -P 4 gofmt -w
end

function ec --wraps emacsclient --description "Opens an Emacs window in the current terminal"
  emacsclient -nw $argv
end

{{ if .work_device -}}
function proxyskaar --description "Connects to the Skaar wk-dev database, making a connection available locally on port 3310"
  wk proxy --cluster wk-dev --host skaardb-dev-us-east-1-skaardbaurora2cluster-1xfjieyypiivr.cluster-cdsa0kvhqzyp.us-east-1.rds.amazonaws.com --port 3306 --local-port 3310
end
{{end }}

test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish

{{ if .work_device -}}
source "$(brew --prefix asdf)/libexec/asdf.fish"
asdf exec direnv hook fish | source
{{end }}

starship init fish | source
