[user]
{{ if .work_device -}}
	name = Eric Klaus
	email = eric.klaus@workiva.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC0wi7CQg95hUInBpyCWUU9J9+KsOA8expVdhjdbQ+0wc315yjHKjTvxGt9CJjuNp0ivaIBDAR5vGHFTEhas+A4gtmynkpmX2aCPJM8w1f9LoqvwCcKymKroHwPXwlfHrXf5iloUEvd/U2s0LKbQ0uh8l1oHiSS4rdRXyFLzk2WoYDpKq/ewRrYUHR3Dv6lKtGpM2HVifpUkugRIGrW8R4qam8T7Ubqp7I8jHdm1fiozSj+d6qPGOw4qRn+vJa7KjI/Nv7NAppFyTEi8QNZaru93XfrcvuM5nH7aFLGEA6vZoLHhA08/SsinPNrAJQmZcnT2HGtvTET7q4Vz7sJNZ+SkeMjAPWLqLc5DgsNDZLHfyHEJUWuVPgTeke96ZvTDWvbyuHPrCGy8rAtAk+cBmWfz2i9iw6fjyXds+4sBgATVdTzBZDNU75VPBGJwtrNsWL1ELdM7DB3YiseDBqHyV+wJME+UKMg06bH6w/g7Fssn8WYxQmNx9Z9FnszmXt+qD4x3B2X5AhGSK1HAsfQ7zKFH6UNYvYybDKALHNoIG/n3AE5mK41UdGVT6CXJyWqzQJ7euSDurdyGeVjbr+3kU6vf25+IL8/5gywP2oaYmB1WHSEZ8/1g8OyHYin0T9A4TXzaghAuZ5e377cqm8eiciNeyTeT6aAJKK7KtVUS82Sww==
{{else}}
	name = Eric Klaus
	email = etklaus@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL8QxdT0M4JnJ+wPtD9e9St0muAzgzo5yhcxKFfNsWwa
{{end}}

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

[includeIf "gitdir:~/workspaces/eric/"]
	path = ~/workspaces/eric/.gitconfig

[core]
	excludesfile = /Users/ericklaus/.gitignore_global
	editor = emacsclient -nw 
	autocrlf = input

[alias]
	plog = log --first-parent
	mergeup = merge upstream/master --ff-only
	dt = difftool --dir-diff
	repr = rebase -i @{r}

[push]
	default = current

[rerere]
	enabled = true

{{ if .work_device -}} 
[diff]
	tool = bcomp
[merge]
	tool = bcomp
	renamelimit = 4000
{{end}}

[difftool]
	prompt = false
[difftool "bcomp"]
	trustExitCode = true
	cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE"
[merge "gomergesum"]
	name = "Merges two Go go.sum files"
	driver = gomodmerge sum --file-ancestor="%O" --file-current="%A" --file-other="%B" --local-head-name="%X" --other-head-name="%Y" --conflict-placeholder-size="%L"
[merge "gomergemod"]
	name = "Merges two Go go.mod files"
	driver = gomodmerge mod --file-ancestor="%O" --file-current="%A" --file-other="%B" --local-head-name="%X" --other-head-name="%Y" --conflict-placeholder-size="%L" 
[mergetool]
    prompt = false
	keepBackup = false
[mergetool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autosquash = true

[url "git@github.com:"]
    insteadOf = https://github.com

[init]
	defaultBranch = main
